<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:powderblue;">
    <h1 align="center"><u><b>Header 1</b></u></h1>
    <h2 align="center"><b>Header 2</b></h2>
    <h3 align="center"><b>Header 3</b></h3>
    <hr>
    <h1 ><u><b>content</b></u></h1>
    <ul>
        <li>item 1</li>
        <li>item 2
            <ol type="I">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ol>
        </li>
        <li>item 3</li>
        <li>item 4</li>
        <li>item 5</li>
    </ul>
        <hr>
<p>here are differnt ways to write </p>
    <ol>
        <li><i>italic</i></li>
        <li><b>bold</b></li>
        <li><u>underlined</u></li>
        <li style="color:red;">red</li>
        <li> <span style="font-size: small;">differnet</span><span style="font-size: larger;"> sizes</span></li>

    </ol>
    <center><img src="../Images/WELCOM31.gif" alt=""></center>
    <a href="" align="left";>Top</a>
    <a href="Page3.html"style="float:right";>Next</a>
    
</body>
</html>