<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:powderblue;">

    <center>    
        <a href="Page4.html">
        <img src="../Images/CPTPILLOWS_9db8.jpg" alt="" usemap="#workmap">
        <map name="workmap">
            <area shape="rect" coords="100,35,238,183" alt="Computer" href="https://x.com" target="_blank">
            <area shape="rect" coords="244,52,386,197" alt="Phone" href="https://www.microsoft.com/en-us/microsoft-teams/log-in" target="_blank">
          
            <area shape="rect" coords="33,181,173,317" alt="Cup of coffee" href="https://www.microsoft.com/en-us/microsoft-teams/log-in" target="_blank">
            <area shape="rect" coords="179,185,313,327" alt="Cup of coffee" href="https://www.microsoft.com/en-us/microsoft-teams/log-in" target="_blank">
            <area shape="rect" coords="316,178,461,323" alt="Cup of coffee" href="https://www.microsoft.com/en-us/microsoft-teams/log-in" target="_blank">
        </map>
    </a>
    </center>

    <center>
        <a href="https://www.google.com"> search google</a>
          
    </center>
    <center> <a href="mailto:ahmedaymanali@gmail.com?">
        <img src="../Images/bg_campaign.jpg"  width="300">
    </a></center>
    
    <p align="center"> Copyright &#169;2024 Ahmed Ayman. All rights reserved. </p>
</body>
</html>